* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Lexend Deca', sans-serif;
}

.card-container {
   /* border: 1px solid red; */
    max-width: 340px;
    background-color: hsl(244, 38%, 16%);
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.inner-hero-img-mobile {
    width: 100%;

}

.inner-hero-img-desktop {
    display: none;
}
.purple-filter {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(81, 19, 120, 0.6);
    z-index: 2;
}

.inner-title {
    margin: 20px 20px 20px 20px;
    color: hsl(0, 0%, 100%);
}

.purple-text {
    color: hsl(277, 64%, 61%);
}
 
.inner-description-text {
    margin: 20px 20px 30px 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
}

.stat-item-container {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.stat-number {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.stat-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}


@media screen and (min-width: 900px) {
    
    .card-container {
        max-width: 1000px;
        max-height: 450px;
        background-color: hsl(244, 38%, 16%);
        color: white;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
    }

    .inner-title h1 {
        font-size: 2.1rem;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .image-container {
        width: 50%;
        float: right;
        max-height: 310px;
    }

    .inner-hero-img-mobile {
        display: none;    
    }
    
    .inner-hero-img-desktop {
        display: inline; 
        background-size: cover;
        mix-blend-mode: inherit; /* needs to be sorted this out */
    }

    .left-side-inner-container {
        width: 50%;
        padding: 15px 45px 30px 15px;
        text-align: left;
    }

    .inner-description-text {
        margin: 20px 40px 30px 20px;
        font-size: 0.9rem;
    }

    .inner-stats-wrapper {
        display: inline-flex;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }

    .stat-item-container {
        margin: 30px 30px 20px 30px;
}

    .stat-item-1 {
        margin-right: 0px;
    }

    .stat-item-2 {
        margin-left: 45px;
        margin-right: 45px;
    }

    .stat-item-3 {
        margin-left: 0px;
    }

    .stat-number {
        font-size: 1.35rem;
    }
    
    .stat-text {
        font-size: 0.8rem;
    }
}